.root {
  max-width: 135px;
  width: 100%;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}
.root img {
  width: 100%;
  object-fit: cover;
}

.deleteIcon {
  font-size: 16px;
  font-weight: bold;
  color: rgb(245, 0, 87);
  background: none;
  border: none;
  box-shadow: none;
  cursor: pointer;
  outline: none;
}