.root {
  height: 74px;
  position: fixed;
  transition: background-color 0.6s;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: block;
  margin-left: 3rem;
  transition: z-index 0.4s ease-in-out;
}

.logo img {
  width: 20rem;
}
