.success: {
  background-color: green;
}

.error: {
  background-color: red;
}

.info: {
  background-color: black;
}

.warning: {
  background-color: yellow;
}

.icon: {
  font-size: 20px;
}

.iconvariant: {
  opacity: 0.9;
  margin-right: 5px;
}

.message: {
  display: "flex";
  align-items: "center";
}
